<div class="row first-words" style="text-align: center; padding-right: 10px">
	<div class="col-xs-12 col-sm-8">
		<div class="first-line" style="font-size: 10rem;">HOLA !</div>
		<div style="font-size: 3rem;" class="info">This Site is All About Mee</div>
		<div style="font-size: 3rem;" class="info sub-heading">~ Welcome ~</div>
	</div>
	<div class="col-xs-12 col-sm-4 margin-top-xs side-text" >
		<div class="info">THANK YOU SO MUCH</div>
		<div class="info sub-heading">FOR VISITING MY SITE</div>
		<img src="./img/you.png" class="img-responsive" style="max-height:100px; margin: 0 auto;">
		<div class="stylish margin-top-xs selected" style="font-size: x-large">You Are Awesome</div>
	</div>
	
</div>

<div class="row about-desc">
	<div class="col-xs-12 intro">
		My Name is Kushal Arora and I am a
	</div>
	<div class="col-xs-12 traits margin-top-xs sub-heading">
		DIGITAL NOMAD <span class="color-black"> | </span>
		GEEK <span class="color-black"> | </span>
		TECH SAVY <span class="color-black"> | </span>
		MAD <span class="color-black"> | </span>
		PROGRAMMER <span class="color-black"> | </span>
		CODER <span class="color-black"> | </span>
		NIGHT OWL <span class="color-black"> | </span>
		UPFRONT <span class="color-black"> | </span>
		CREATIVE <span class="color-black"> | </span>
		SINGER <span class="color-black"> | </span>
		TRAVELLER <span class="color-black"> | </span>
		GUITARIST <span class="color-black"> | </span>
		<span>LOGICAL<sub style="font-size: x-small">(above anything else)</sub></span>
	</div>

	<div class="col-xs-12 margin-top-sm stylish">
		Oh Yes, apart from above traits, I am also a 
			<span class="selected"> Web &amp; Mobile Developer / Designer </span>.
	</div>
</div>