<div class="margin-top-md connect">

	<h3>
		Personal Profile:
	</h3>
	<div class="row">
		<div class="col-xs-4">
			Email
		</div>
		<div class="col-xs-8">
			<a href="mailto:kushalarora92@gmail.com">kushalarora92@gmail.com
					<span class="connect-icon glyphicon glyphicon-send"></span>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			Phone
		</div>
		<div class="col-xs-8">
			<a href="tel:+919652609480">(+91) 9652609480
				<span class="connect-icon glyphicon glyphicon-earphone"></span>
			</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-4">
			Date of Birth
		</div>
		<div class="col-xs-8">
			<a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Kushal+Arora%27s+B%27day&dates=20170823T183000Z/20170824T182900Z&details=Keep+Calm+Cz+It%27s+His+B%27day.+Feel+free+to+wish+at+9652609480.&location=On+Call&sf=true&output=xml#eventpage_6">August 24, 1992
				<span class="connect-icon glyphicon glyphicon-calendar"></span>
			</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-4">
			Gender
		</div>
		<div class="col-xs-8">
			<a>Male</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-4">
			Linguistic Abilities
		</div>
		<div class="col-xs-8">
			<a>English, German, Hindi, Punjabi</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-4">
			Marital Status
		</div>
		<div class="col-xs-8">
			<a>Single</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			Home Location
		</div>
		<div class="col-xs-8">
			<a href="https://goo.gl/maps/5rM7uQqyuBR2">New Delhi
				<span class="connect-icon glyphicon glyphicon-map-marker"></span>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			Current Location
		</div>
		<div class="col-xs-8">
			<a href="https://goo.gl/maps/Z2nY74qafXu">Hyderabad
				<span class="connect-icon glyphicon glyphicon-map-marker"></span>
			</a>
		</div>
	</div>
	
	<div class="row social margin-top-lg">
		<div class="col-xs-12">
			<div class="center-div">
				<a href="https://www.facebook.com/kushalarora24">
					<img src="./img/facebook.png" class="img-responsive" alt="Facebook" title="Facebook" />
				</a>
				<a href="https://twitter.com/kushalarora24">
					<img src="./img/twitter.png" class="img-responsive" alt="Twitter" title="Twitter"/>
				</a>
				<a href="http://plnkr.co/users/kushalarora92">
					<img src="./img/plnkr.jpg" class="img-responsive" alt="Plunker" title="Plunker" />
				</a>
				<a href="http://stackoverflow.com/users/2562435/zest">
					<img src="./img/stack-overflow.jpg" class="img-responsive" alt="Stack Overflow" title="Stack Overflow" />
				</a>
				<a href="https://github.com/kushalarora92">
					<img src="./img/github.png" class="img-responsive" alt="Github" title="Github"/>
				</a>
				<a href="http://www.linkedin.com/in/kushal-arora">
					<img src="./img/linkedin.jpg" class="img-responsive" alt="LinkedIn" title="LinkedIn" />
				</a>
				
			</div>
		</div>
	</div>
</div>